---
title: Blog
layout: default
description: "Keep hungry, keep foolish"
# header-img: "img/university-3.jpg"
---

<header
  class="intro-header"
  style="background-image: url('{{ site.baseurl }}/{% if page.header-img %}{{ page.header-img }}{% else %}{{ site.header-img }}{% endif %}'); background-size: cover; background-position: center;"
>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
        <div class="site-heading" id="tag-heading">
          <h1>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</h1>
          {% if page.description %}
          <span class="subheading">{{ page.description }}</span>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</header>

<main class="container" role="main">
  <div class="row">
    <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">

      {% assign sorted_tags = site.tags | sort %}

      {% if sorted_tags.size > 0 %}
      <nav id="tag_cloud" class="tags" aria-label="Blog tags">
        {% for tag in sorted_tags %}
        {% assign tag_name = tag[0] %}
        {% assign tag_id = tag_name | slugify %}
        <a href="#{{ tag_id }}" title="{{ tag_name }}" rel="{{ tag[1].size }}">{{ tag_name }}</a>
        {% endfor %}
      </nav>

      {% for tag in sorted_tags %}
      {% assign tag_name = tag[0] %}
      {% assign tag_id = tag_name | slugify %}

      <section class="one-tag-list" aria-labelledby="{{ tag_id }}">
        <h2 class="fa fa-tag listing-seperator" id="{{ tag_id }}">
          <span class="tag-text">{{ tag_name }}</span>
        </h2>

        {% for post in tag[1] %}
        <article class="post-preview">
          <a href="{{ post.url | prepend: site.baseurl }}">
            <h3 class="post-title">{{ post.title }}</h3>
            {% if post.subtitle %}
            <p class="post-subtitle">{{ post.subtitle }}</p>
            {% endif %}
          </a>
          <p class="post-meta">{{ post.date | date: "%Y-%m-%d" }}</p>
        </article>
        <hr>
        {% endfor %}
      </section>
      {% endfor %}

      {% else %}
      <p>暂无博客文章。</p>
      {% endif %}

    </div>
  </div>
</main>
